.login-and-signup{
    width: 300px;
    position: fixed;
    top: 20px;
    right: -75px;
}

.login{
    color: #2f3640;
    border: none;
    font-weight: bold;
    font-size: 12pt;
    text-align: center;
    background-color: transparent;
    padding-left: 15px;
    padding-right: 15px;
}

.login:hover{
    border-bottom: 3px solid #2f3640;
}

.signup{
    margin-left: 20px;
    color: #2f3640;
    border: solid 2px #2f3640;
    font-weight: bold;
    font-size: 12pt;
    text-align: center;
    background-color: transparent;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
}
.signup:hover{
    background-color: #2f3640;
    color: white;
}

.quote{
    font-family: Cambria;
    font-weight: 650;
    color: #2f3640;
    font-size: 18pt;
    letter-spacing: .5px;
    margin-top: 20px;
    font-style: normal;
    text-align: center;
}
.search-bar {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background: #2f3640;
    height: 30px;
    border-radius: 40px;
    padding: 10px;
    width: 400px;
}

.search-bar:hover > ::placeholder { 
    color: white;
}


.search-btn{
    color: white;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt{
    margin-left: 10px;
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 20px;
    line-height: 28px;
    width: 350px;

}

.search-icon{
    height: 25px;
    width: auto;
}

.results-not-found{
    text-align: center;
    font-size: 15pt;
}

.footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 40px;
        background-color:rgb(223, 219, 219);
        border-top: solid 1px #c5c4c4;
        border-width: thin;
}

.footer-links{
    position: fixed;
    bottom: 10px;
    right: 25px;
}

.about-link{
    color: #5D6065;
    border: none;
    font-size: 9pt;
    background-color: transparent;
}

.contact-us-link{
    margin-left: 20px;
    color: #5D6065;
    border: none;
    font-size: 9pt;
    background-color: transparent;
}

.contact-us-link:hover{
    text-decoration: underline;
}

.about-link:hover{
    text-decoration: underline;
}

.add-journalist-link:hover{
    text-decoration: underline;
}