.signup-text{
    text-align: center;
    padding-bottom: 10px;
    font-size: 18px;
    color: #2f3640;
}

.email-input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.email-input:focus{
    background-color: #ddd;
    outline: none;
}

.password-input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.password-input:focus{
    background-color: #ddd;
    outline: none;
}


.repeat-password-input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.repeat-password-input:focus{
    background-color: #ddd;
    outline: none;
}

  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  .signupbtn{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

  .cancelbtn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;

    padding: 14px 20px;
    background-color: #f44336;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }